parameters:
	ignoreErrors:
		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 3
			path: src/Http/Presenters/BladeEntityPresenter.php

		-
			message: '#^Method BlackParadise\\LaravelAdminBladeUI\\Http\\Presenters\\BladeEntityPresenter\:\:create\(\) has parameter \$fields with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/Presenters/BladeEntityPresenter.php

		-
			message: '#^Method BlackParadise\\LaravelAdminBladeUI\\Http\\Presenters\\BladeEntityPresenter\:\:edit\(\) has parameter \$fields with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/Presenters/BladeEntityPresenter.php

		-
			message: '#^Method BlackParadise\\LaravelAdminBladeUI\\Http\\Presenters\\BladeEntityPresenter\:\:index\(\) has parameter \$fields with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/Presenters/BladeEntityPresenter.php

		-
			message: '#^Method BlackParadise\\LaravelAdminBladeUI\\Http\\Presenters\\BladeEntityPresenter\:\:show\(\) has parameter \$fields with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/Presenters/BladeEntityPresenter.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 1
			path: src/Http/Presenters/BladeEntityPresenter.php
